// Layout
//

body {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

#app {
  @extend .bg-main;
  height: 100%;
}

.container {
  @extend .container-fluid;
}

.container--question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 68vh;
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  padding-top: $spacer/2;
  padding-bottom: $spacer/2;
}

.welcome-help {
  padding: $spacer;
  color: $gray;
  background-color: $white;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer;
  }
}
